*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-image: url("../src/fondo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section[id] {
    scroll-margin-top: 70px;
}

.header{
    min-height: 63px;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(0, 0, 26);

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.header .h1 .a{
    color: #37FF8B;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.header .nav{
    margin-right: 80px;
}
.header .open-menu, .close-menu{
    display: none;
}
.header .ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 1em;
}
.header .li .a{
    min-width: 15px;
    color: white;
    display: block;
    margin: 10;
    text-transform: uppercase;
}
.header .li .a:hover{
    transition: 0.8s;
    color: #37FF8B;
    width: 100%;
    text-shadow: 0 0 22px #37FF8B;
}

.main{
    margin: 1em 0;
    text-align: center;
}
.inicio{
    width: 100%;
    min-height: 900px;
    margin-top: -1em;
    margin-bottom: -1em;
    background: rgba(0, 0, 26, 0.880);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inicio .section{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 125px;
}
.inicio .img{
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
.inicio .name{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: rgb(0, 255, 255);
    font-size: 50px;
    font-weight: bold;
}
.inicio .level{
    color: white;
    font-size: 25px;
    margin-top: -40px;
}
.inicio .social_media {
    margin-right: 10px;
}
.inicio .social {
    height: 40px;
    width: 40px;
    filter: invert();
}
.acerca_de{
    display: flex;
    height: 1300px;
    flex-direction: column;
    background-color: rgb(0, 0, 26);
    align-items: center;
}
.title{
    width: 80%;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #37FF8B;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}
.acerca_de .languajes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
}
.languajes .img{
    transition: 0.3s;
    height: 90px;
    width: 90px;
    margin-right: 18px;
    border-radius: 10px;
}
.languajes .img:hover{
    transition: 0.3s;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.languaje-name{
    color: rgb(0, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.info{
    padding-top: 50px;
    min-height: 350px;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
}
.info .h2{
    color: rgb(0, 52, 87);
    font-size: 30px;
    font-weight: bold;
}
.info .p1{
    color: rgb(0, 69, 116);
    font-size: 20px;
}
.trabajos{
    display: flex;
    flex-direction: column;
    min-height: 1600px;
    background-color: #353364;
    align-items: center;
}
.works-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 60px;
}
.contactos{
    min-height: 250px;
    text-align: left;
    padding: 30px;
    background-color: rgb(73, 38, 38);
}
.contactos .grid_principal{
    display: grid;
    grid-template-columns: 50% 50%;
}
.contactos .h3{
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.contactos .h4{
    color: white;
}
.contactos .social_media{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    background: transparent;
}
.footer{
    background-color: wheat;
    margin-top: -20px;
}
@media (min-width: 1500px) {
    .info{
        padding-left: 50px;
        min-height: 680px;
        background-color: white;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
}
@media (max-width: 950px) {
    .header{
        padding-top: 10px;
    }
    .header .nav, .ulOpened{
        display: none;
        flex-direction: column;
        position: fixed;
        padding-left: 0;
        left: 0;
        top: 90px;
        width: 100%;
        align-items: center;
        background-color: rgb(0, 20, 51);
        overflow-y: auto;
    }
    .header .ul{
        display: contents;
    }
    .header .ulOpened{
        display: flex;
        align-items: center;
        pointer-events: all;
    }
    .header .li{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header .open-menu, .close-menu{
        height: 60px;
        width: 60px;
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        align-self: flex-end;
        position: fixed;
        right: 20px;
        top: 15px;
    }
    .header .open-menu{
        display: block;
    }
    .header .close-menu{
        display: none;
    }
    .header .menu_buttom_open, .menu_buttom_close{
        height: 30px;
        width: 30px;
        filter: invert(100%);
        
    }
    .inicio{
        display: flex;
        flex-direction: column-reverse;
        min-height: 1300px;
    }
    .inicio .section{
        margin: 70px 0;
        text-align: center;
    }
    .acerca_de .languajes{
        display: grid;
        grid-template-rows: 120px 120px;
        grid-template-columns: 25% 25% 25% 25%;
        min-height: 300px;
    }
    .contactos{
        min-height: 250px;
        align-items: center;
        text-align: center;
        padding: 30px;
        background-color: rgb(73, 38, 38);
    }
    .contactos .grid_principal{
        display: grid;
        grid-template-columns: 100%;
    }
    .contactos .grid_secundario{
        width: 100%;
        grid-template-columns: 33% 33% 33%;
    }
}