.works-list {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.works {
    transition: 1s ease;
    margin-right: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #25254b;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 4px #000;
}

.works:hover {
    transition: 1s ease;
    background-color: #313169;
    box-shadow: 0px 0px 20px 4px #313169;
}

.works-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 10px;
}

.work-name {
    font-size: 24px;
    font-weight: bold;
    color: #00ffff;
    margin: 0;
}

.work-desc {
    color: #fff;
    font-size: 17px;
    text-align: left;
}

.tech {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.img-tech {
    height: 35px;
    width: 35px;
    margin-right: 16px;
}

.button-play {
    transition: .5s ease;
    margin-bottom: 20px;
    padding: 6px;
    display: grid;
    grid-template-columns: 15% 85%;
    background: transparent;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #37FF8B;
    color: #37FF8B;
}

.button-play:hover {
    transition: .5s ease;
    border-color: #00ffff;
    color: #00ffff;
}

.button-code {
    transition: .5s ease;
    margin-bottom: 20px;
    padding: 6px;
    display: grid;
    grid-template-columns: 15% 85%;
    background: transparent;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #ff005d;
    color: #ff005d;
}

.button-code:hover {
    transition: .5s ease;
    border-color: #00ffff;
    color: #00ffff;
}

.button-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-text {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: bold;
}

.works-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-img {
    width: 190px;
    border-radius: 20px;
    border-style: solid;
    border-width: 8px;
    border-color: #1a1a1a;
}